@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* white */
    --background: 0 0% 100%;
    /* gray-800 */
    --foreground: 215 27.9% 16.9%;

    /* gray-50 */
    --muted: 210 20% 98%;
    /* gray-800 */
    --muted-foreground: 215 27.9% 16.9%;

    /* white */
    --popover: 0 0% 100%;
    /* gray-800 */
    --popover-foreground: 215 27.9% 16.9%;

    /* gray-200 */
    --border: 220 13% 91%;
    /* gray-200 */
    --input: 220 13% 91%;

    /* white */
    --card: 0 0% 100%;
    /* gray-800 */
    --card-foreground: 215 27.9% 16.9%;

    /* gray-800 */
    --primary: 215 27.9% 16.9%;
    /* gray-50 */
    --primary-foreground: 210 20% 98%;

    /* gray-100 */
    --secondary: 220 14.3% 95.9%;
    /* gray-800 */
    --secondary-foreground: 215 27.9% 16.9%;

    /* gray-100 */
    --accent: 220 14.3% 95.9%;
    /* gray-800 */
    --accent-foreground: 215 27.9% 16.9%;

    --destructive: 0 100% 50%;
    /* gray-50 */
    --destructive-foreground: 210 20% 98%;

    /* gray-400 */
    --ring: 217.9 10.6% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* gray-800 */
    --background: 200 7% 9%;
    /* gray-50 */
    --foreground: 210 20% 98%;

    /* gray-900 */
    --muted: 220.9 39.3% 11%;
    /* gray-100 */
    --muted-foreground: 220 14.3% 95.9%;

    /* gray-700 */
    --accent: 195 7% 11%;
    /* gray-50 */
    --accent-foreground: 210 20% 98%;

    /* gray-800 */
    --popover: 215 27.9% 16.9%;
    /* gray-50 */
    --popover-foreground: 210 20% 98%;

    /* gray-600 */
    --border: 215 13.8% 34.1%;
    /* gray-600 */
    --input: 215 13.8% 34.1%;

    /* gray-800 */
    --card: 215 27.9% 16.9%;
    /* gray-50 */
    --card-foreground: 210 20% 98%;

    /* gray-50 */
    --primary: 210 20% 98%;
    /* gray-900 */
    --primary-foreground: 220.9 39.3% 11%;

    /* gray-700 */
    --secondary: 215 13.8% 34.1%;
    /* gray-50 */
    --secondary-foreground: 210 20% 98%;

    --destructive: 0 63% 31%;
    /* gray-50 */
    --destructive-foreground: 210 20% 98%;

    /* gray-700 */
    --ring: 215 13.8% 34.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }
  html,
  #__next {
    height: 100%;
  }
}

/* Theme */
[data-theme='light'] {
  display: block;
}

[data-theme='dark'] {
  display: none;
}

.dark [data-theme='light'] {
  display: none;
}

.dark [data-theme='dark'] {
  display: block;
}

/* Default code block */
pre {
  @apply !px-0 rounded-lg overflow-auto;
}

.light pre {
  @apply bg-gray-50 border border-gray-200;
}

.dark pre {
  @apply bg-accent border border-gray-700;
}

code {
  @apply !text-sm !leading-loose;
}

pre > code {
  @apply grid py-2;
  counter-reset: line;
}

[data-line] {
  @apply border-l-4 border-l-transparent px-2 w-full inline-block;
}

/* Line highlighting */
[data-highlighted-line] {
  @apply border-l-blue-400 bg-gray-400 bg-opacity-10;
}

/* Word highlighting */
[data-highlighted-chars] {
  @apply rounded-md bg-gray-500 bg-opacity-10 p-1;
}

.dark [data-highlighted-chars] {
  @apply bg-opacity-20;
}

/* Line numbers */
[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

/* Code titles */
[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg;
}

.dark [data-rehype-pretty-code-title] {
  @apply text-gray-200 border-gray-700 bg-gray-900;
}

.light [data-rehype-pretty-code-title] {
  @apply text-gray-800 border-gray-200 bg-gray-100;
}

[data-rehype-pretty-code-title] + div > pre {
  @apply mt-0 rounded-t-none border-t-0;
}

/* Code captions */
[data-rehype-pretty-code-caption] {
  display: none !important;
}

/* Inline code blocks */
:not(pre) > code {
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 80% !important;
}

.light :not(pre) > code {
  @apply bg-gray-200;
}

.dark :not(pre) > code {
  /* TODO: Write all of the css like this */
  @apply bg-gray-200 bg-accent border border-border;
}
