@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 27.9% 16.9%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 27.9% 16.9%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --card: 0 0% 100%;
    --card-foreground: 215 27.9% 16.9%;

    --primary: 215 27.9% 16.9%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 215 27.9% 16.9%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 215 27.9% 16.9%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.9 10.6% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215 27.9% 16.9%;
    --foreground: 210 20% 98%;

    /* TODO: The below colours haven't been updated to my theme so might be slightly off */
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 20% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 217.9 10.6% 64.9%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 20% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }
  html,
  #__next {
    height: 100%;
  }
}

/* Theme */
[data-theme='light'] {
  display: block;
}

[data-theme='dark'] {
  display: none;
}

.dark [data-theme='light'] {
  display: none;
}

.dark [data-theme='dark'] {
  display: block;
}

/* Default code block */
pre {
  @apply !px-0 rounded-lg overflow-auto;
}

.light pre {
  @apply !bg-gray-50 border border-gray-200;
}

.dark pre {
  @apply border border-gray-700;
}

code {
  @apply !text-sm !leading-loose;
}

pre > code {
  @apply grid py-2;
  counter-reset: line;
}

[data-line] {
  @apply border-l-4 border-l-transparent px-2 w-full inline-block;
}

/* Line highlighting */
[data-highlighted-line] {
  @apply border-l-blue-400 bg-gray-400 bg-opacity-10;
}

/* Word highlighting */
[data-highlighted-chars] {
  @apply rounded-md bg-gray-500 bg-opacity-10 p-1;
}

.dark [data-highlighted-chars] {
  @apply bg-opacity-20;
}

/* Line numbers */
[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

/* Code titles */
[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg;
}

.dark [data-rehype-pretty-code-title] {
  @apply text-gray-200 border-gray-700 bg-gray-900;
}

.light [data-rehype-pretty-code-title] {
  @apply text-gray-800 border-gray-200 bg-gray-100;
}

[data-rehype-pretty-code-title] + div > pre {
  @apply mt-0 rounded-t-none border-t-0;
}

/* Code captions */
[data-rehype-pretty-code-caption] {
  display: none !important;
}

/* Inline code blocks */
.dark :not(pre) > code {
  background: #011627;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 90%;
}

.light :not(pre) > code {
  background-color: #f6f8fa;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 90%;
}
