.post {
  font-size: 18px;
  line-height: 1.75;
  font-family: var(--body-font), sans-serif;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-family: var(--display-font), sans-serif;
}

.post h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0.666666em;
  line-height: 1;
}

.post h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.888888em;
  line-height: 1.3333333;
}

.post h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.6666666em;
  line-height: 1.75;
}

.post h4 {
  font-size: 1.3333333em;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.25;
}

.post blockquote {
  border-left: solid 4px;
  padding-left: 1rem;
  font-style: italic;
  border-left-width: 0.25rem;
  margin-left: -1.5rem;
}

.post ol,
.post ul {
  list-style: none;
  margin-left: 3em;
}

.post li::before {
  content: '-';
  display: inline-block;
  position: absolute;
  margin-left: -25px;
}

.post blockquote,
.post dd,
.post dl,
.post figure,
.post p,
.post pre,
.post ul,
.post ol {
  margin-bottom: 2rem;
}

.post hr {
  height: auto;
  border: none;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-family: serif;
}
.post hr::before {
  content: '...';
  line-height: 1.4;
  letter-spacing: 0.6em;
}

.post li {
  margin-bottom: 0.5rem;
}

.post li:last-child {
  margin-bottom: 0;
}

.post a {
  @apply text-link dark:text-blue-300;
  text-decoration: none;
}

.post img {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.title {
  font-size: 36px !important;
  margin: 0 !important;
}

.date {
  font-size: 14px;
}

.bioImage {
  border-radius: 99999px;
  height: 6rem !important;
  width: 6rem !important;
  margin-right: 1rem;
}

.bioContainer {
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.post .heading-anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.heading-anchor:hover {
  @apply visible;
}

.post .heading-anchor:after {
  @apply text-foreground/70 dark:text-foreground/70;
  content: '#';
}

.post *:hover > .heading-anchor {
  @apply visible;
}
